body,
html {
  background: #131313;
}

#app-container::-webkit-scrollbar {
  background: #131313;
  width: 12px;
  height: 12px;
}

/* Track */
/* body::-webkit-scrollbar-track {
} */

/* Handle */
#app-container::-webkit-scrollbar-thumb {
  border: 1px solid #767676;
}
