@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@font-face {
  font-family: "Grifter";
  src: url("./assets/fonts/Grifter/grifterbold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body,
html {
  background: #131313;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body::-webkit-scrollbar {
  background: #131313;
  width: 12px;
  height: 12px;
}

.w-tc-editor-preview .token.italic {
  font-style: italic !important;
}

.w-tc-editor-preview .token.bold,
.w-tc-editor-preview .token.title {
  font-weight: bold !important;
}

.custom-button {
  font-family: "Grifter", sans-serif;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1px;
}

input::placeholder,
textarea::placeholder,
.placeholder-text {
  color: #b0b0b0 !important;
}

.dark input::placeholder,
.dark textarea::placeholder,
.dark .placeholder-text {
  color: #767676 !important;
}

.chat-cursor {
  display: inline-block;
  width: 1ch;
  animation: flicker 0.5s infinite;
  margin-bottom: 4px;
}

.cursor {
  display: inline-block;
  width: 1ch;
}

.normal-layout-container {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/* .normal-layout-container::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* .normal-layout-container::-webkit-scrollbar-track {
  background: #ffffff;
  border-left: 1px solid #b0b0b0;
} */

/* Handle */
/* .normal-layout-container::-webkit-scrollbar-thumb {
  background: #767676;
  border-top: 2px solid #b0b0b0;
  border-bottom: 2px solid #b0b0b0;
} */

/* .dark .normal-layout-container::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-left: 1px solid #767676;
} */

/* .dark .normal-layout-container::-webkit-scrollbar-thumb {
  border-left: 1px solid #767676;
  background: #131313;
} */

.experience-section {
  animation: 0.75s ease-in-out forwards 1 experience-animation;
}

@keyframes experience-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    scale: 1.05;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    scale: 1;
  }
}
